
<div class="layer">
<div class="alert-success">提示信息：红色星号为必填选项</div>
    <form name="FormPost" id="dic-save" class="FormGrid"  method="post" enctype="multipart/form-data"
          action="">
		<input type="hidden" value="" name="dataId"/>
		<input type="hidden" value="${dataId!}" name="dataIdWs"/>
		<input type="hidden" value="${modelId!}" name="modelId"/>
		<input type="hidden" value="${custNo!}" name="custNo"/>
		<input type="hidden" value="${flag!}" name="flag"/>
        <table class="EditTable" width="100%">
            <tbody>
                <tr class="FormData">
                    <td class="CaptionTD">通知书时间</td>
                    <td class="DataTD width-100">
                        <input type="text" name="noticeStartTime" onClick="alert(this.value;)"readonly value="${noticeTime!}"/>
                    </td>
                     <td><font color="red" size="+1">*</font></td>
                </tr>
                <tr class="FormData">
                    <td class="CaptionTD">被通知机构</td>
                    <td class="DataTD width-100">
                    	<select name="noticeOrganId2" class="chosen-select" id="organSelect">
                    		@for(so in borganl){
                    			<option value="${so.id!}">${so.name!}</option>
                    		@}
                    	</select>
                    </td>
                     <td><font color="red" size="+1">*</font></td>
                </tr>
                <tr class="FormData">
                    <td class="CaptionTD">通知内容</td>
                    <td class="DataTD width-100">
                        <input type="text" name="modelName" datatype="*"   value="${modelBase.name!}">
                    </td>
                     <td><font color="red" size="+1">*</font></td>
                </tr>
                <tr class="FormData">
                    <td class="CaptionTD">限时处理截止时间</td>
                    <td class="DataTD width-100">
                        <input type="text" name="noticeColseTime" datatype="*" class="Wdate" onClick="WdatePicker({minDate:'%y-%M-%d'})"
                        	nullmsg="请输入处理期限！"  value="">
                    </td>
                     <td><font color="red" size="+1">*</font></td>
                </tr>
                <tr class="FormData">
                    <td class="CaptionTD">处理要求</td>
                    <td class="DataTD">
                            <textarea name="noticeDealRequire" datatype="*" nullmsg="请输入处理要求！"class="autosize-transition form-control "
                                      style="resize: none;"></textarea>
                    </td>
                     <td><font color="red" size="+1">*</font></td>
                </tr>
                <tr class="FormData">
                    <td class="CaptionTD">附件</td>
                    <td class="DataTD">
                           <input type="file" id="inputfile" name="file">
                    </td>
                </tr>
                <tr class="FormData">
                    <td >
                   <div class="width-100 clearfix" tag-save-btn style="bottom: 0px;left: 0px;position:absolute;">
					<span class="btn btn-primary btn-sm bigger-110 width-50  pull-left"  id="submitForm">
						<i class="ace-icon fa fa-floppy-o align-top bigger-125"></i> 保存
					</span>
					<span class="btn btn-yellow btn-sm bigger-110 width-50 pull-right" id="dic-save-cancel">
						<i class="ace-icon fa fa-times align-top  bigger-125"></i> 取 消
					</span>
				</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

<script type="text/javascript">

	//alert(1);
	if(${ifOrganSame!}==0){
		//layer.close($("#dic-save").data('loadi'));
		layer.close(layer.index);
		layer.msg('组织机构不相同不允许批量下发通知 ', 3, 1);
	}
</script>



<script type="text/javascript">
    //描述框自动扩张高度
    $('textarea[class*=autosize]').autosize({append: "\n"});
    $(function(){
    	$("#organSelect").chosen({width: "100%",search_contains: true,disable_search_threshold:10}); 
    });
$(function(){

    	var index = layer.index;
    	var re = /^[1-9]+[0-9]*]*$/ ; 
        //提交时有一个bug,当修改时，如果ajaxurl验证方式的文本框框没有点击过时，不会提交
        var ajaxS = $("#dic-save input[ajaxurl]");
        $.each(ajaxS,function(i,obj){
            $(obj).focus();
        })

        var validId = $("#dic-save").Validform({
        	tiptype : 4,
            ajaxPost : true,
            beforeSubmit:function(curform){
                var loadi = layer.load(5,2);
                $("#dic-save").data('loadi',loadi);
                curform.ajaxSubmit({
                	type:'post',
                	url:'${ctxPath}/data/sendNotice',
                	success:function(data){
                		//alert(data);
                        layer.close($("#dic-save").data('loadi'));
                        if(data !=null && re.test(data)) {
                            layer.msg('下发成功', 1, 1,function(){
                                layer.close(index);
                                query();
                            });
                        }else if(data == 0){
                        	layer.msg('所选数据已下发，请勿重复下发 ', 3, 1);
                        }else if(data == -2){
                        	layer.msg('所选数据已核实完毕，无法完成下发操作', 3, 1);
                        }else{
                            layer.msg('部分数据下发失败', 3, 1);
                        }
                    }
                	
                });
            },
            tiptype : function(msg, o, cssctl) {
                if (!o.obj.is("form")) {
                    if (o.type != 2) {
                        tip.errorTip(msg,o.obj);
                    }
                }
            },
            tipSweep : true
        });

        $("#submitForm").click(function() {
            validId.submitForm(false);
            return false;
        });

        $("#dic-save-cancel").click(function(){
            layer.close(layer.index);
        });

        $("#dic-save input,#dic-save textarea").blur(function(){
            layer.closeTips();
            return false;
        })

    });
	var index = layer.index;
	$("#dic-save-cancel").click(function(){
	    layer.close(index);
	});

</script>