<div class="widget-header widget-header-flat widget-header-small">
        <h5 class="widget-title"></h5>
        <div class="widget-toolbar no-border">
                <span class="btn btn-purple btn-xs"
                      onclick="downloadDetails('table-detail_info','${ctxPath}/data/export?modelId=${modelId!}')">
                <i class="ace-icon fa fa-cloud-download bigger-130"></i>
                	导出Excel</span>
        </div>
    </div>
<div class="layer">
    <div class="alert-success">提示信息：双击表格行可查询详细信息</div>
    <div class="widget-main padding-8">
        <table id="table-detail_info" 
        	   data-pagination="true" 
               data-search="false"  data-page-list="[10, 20, 50, 100, 200]"   data-page-size="10" data-striped="true"
               data-click-to-select="false" 
               data-toolbar="#toolbar1"
               data-smart-display="false">
            <thead>
           
                <tr>
                @if(headerList.~size == 1){
                	 <th data-field="温馨提示：" data-align="center"  data-sortable="false">温馨提示：</th>
                @}else{
            		<th data-field="state" data-formatter="" data-checkbox="true"></th>
                    <th data-field="noticestatus"  data-visible="true" data-sortable="false">通知状态</th>
                    <th data-field="dealstatus" data-formatter="status" data-visible="true" data-sortable="false">处理状态</th>
                    <th data-field="dataid"  data-visible="true" data-sortable="false">数据编号</th>
                    <th data-field="modelid"  data-visible="false" data-sortable="false">模型编号</th>
                    <th data-field="organid"  data-visible="true" data-sortable="false">机构编号</th>
                    <th data-field="custno"  data-visible="true" data-sortable="false">客户号</th>
                    <th data-field="datadate"  data-sortable="false" data-visible="true" >会计日期</th>
	            	@for(headerMap in headerList){
	                    <th data-field="${headerMap.itemvalues!}" data-sortable="false">${headerMap.fields!}</th>
	                @}
	             @}
                </tr>
            </thead>
        </table>
    </div>
</div>


<div>
<div id="toolbar1">
	<form method="post" class="form-search" id="search-form1" >
    <div class="form-inline" role="form">
        <div class="form-group">
            <span>字段</span>
               	<select name="field"  class="chosen-select form-control w70" id="column-select" >
					
					<option value="noticeStatus">通知状态</option>
					<option value="dealStatus" selected="selected">处理状态</option>
					<option value="organId">机构编号</option>
					<option value="dataDate" id="dateDate">会计日期</option>
					<option value="custNo">客户号</option>
					@for(headerMap in headerList){
						<option value="${headerMap.itemvalues!}">
						${headerMap.fields!}
						</option>
					@}
				</select>
            </select>
        </div>

        <div class="form-group">
            <select name="condition"  class="chosen-select form-control w70" id="operator-select">
                
                <option value="equals">等于</option>
                <option value="greater">大于</option>
                <option value="less">小于</option>
                <option value="greaterOrEquals">大于等于</option>
                <option value="lessOrEquals">小于等于</option>
                <option value="between" id="between">区间</option>
                <option value="include">包含</option>
                <option value="exclusive">不包含</option>
            </select>
        </div>
         <div class="form-group"  id = "noticeDiv" >
            <select name="noticeStatus" class="chosen-select form-control w70" id="notice-select">
                
                <option value="1" >未通知</option>
                <option value="2" >已通知</option>
            </select>
        </div>
         <div class="form-group"  id = "dealDiv" >
            <select name="dealStatus" class="chosen-select form-control w70" id="deal-select">
                
                <option value="1" >未处理</option>
                <option value="2" >已处理</option>
            </select>
        </div>
        <div class="form-group">
            <input id="value1" name="value1" class="form-control w70" type="text" >
            <input id="value2" name="value2" class="form-control w70" type="hidden" >
        </div>
        <button id="ok" onclick="query()" type="button" class="btn btn-primary btn-sm">查询</button>
       
	</form>


  <div class="form-group">
            <div class="hidden-sm hidden-xs action-buttons">
                <div class="inline dropdown-hover">
                    <button class="btn btn-success btn-sm" title="处理" >
                        处理选中记录
                    </button>
                    <ul class="dropdown-menu dropdown-menu-left dropdown-145 dropdown-lighter dropdown-close dropdown-caret">
                        <li>
                            <a class="blue" href="javascript:void(0);" title="下发通知"
                               data-url="${ctxPath}/data/deal"
                               data-mode="send" data-title="下发通知"
                               data-width="50%"
                               data-table="table-detail_info" 
                                    >
                                <i class="ace-icon fa fa-caret-right bigger-110"></i>下发通知
                            </a>
                        </li>
                        <li>
                            <a class="blue" href="javascript:void(0);" title="非现场核实"
                               data-mode="send" data-title="非现场核实"
                               data-url="${ctxPath}/data/deal1"
                               data-width="50%"
                               data-data="{id:'{row.id}'}"
                               data-table="table-detail_info" 
                                    >
                                <i class="ace-icon fa fa-caret-right bigger-110"></i>非现场核实
                            </a>
                        </li>
                        <li>
                            <a class="blue" href="javascript:void(0);" title="现场核实"
                               data-url="${ctxPath}/data/deal2"
                               data-mode="send"  data-title="现场核实"
                               data-width="50%"
                               data-table="table-detail_info" 
                               data-data="{id:'{row.id}'}"
                                    >
                                <i class="ace-icon fa fa-caret-right bigger-110"></i>现场核实
                            </a>
                        </li>
                    </ul>
                </div>
             </div>
        </div>


</div>
    </div>
</div>




<script>
    var $table_detail = $('#table-detail_info');
    $table_detail.bootstrapTable({
    iconSize:'sm',
	pagination:true,
	method:"post",
	toolbar:"#toolbar1",
	pageSize:10,
	queryParamsType:'limit',
	striped:true,
	pageNumber:1,
	sidePagination:'server',
    onDblClickRow:function(row){
        $.cuslayer({mode:"detail",url:"${ctxPath}/data/queryDetailsHeaders",data:row,table:"table-detail_info", width:'50%',title:'详细信息'});
    },
	url:'${ctxPath}/data/queryContents?modelId=${modelId!}&organId=${organId!}&custNo=${custNo!}&dealStatus=${dealStatus!}'
    });
    
    function operatorBtn1(value, row){
        return $("#rowBtn_edit1").html().replace(new RegExp("{row.id}","g"),row.id);
    }

    $("#notice-select").chosen({width: "150px", search_contains: true, disable_search_threshold: 10});
    $("#deal-select").chosen({width: "150px", search_contains: true, disable_search_threshold: 10});
    $("#column-select").chosen({width: "150px", search_contains: true, disable_search_threshold: 10});
    $("#operator-select").chosen({width: "150px", search_contains: true, disable_search_threshold: 10});
  
    function query(){
    	$table_detail.bootstrapTable("refresh",{url:"${ctxPath}/data/queryContents?modelId=${modelId!}&organId=${organId!}&custNo=${custNo!}&dealStatus=${dealStatus!}"})
    }
    



$("#operator-select").chosen().change(function(){
	var value2 = document.getElementById("value2");
	if($("#operator-select").trigger("liszt:updated").val() == 'between'){
		if($("#column-select").trigger("liszt:updated").val() == 'dataDate'){
			value2.type = 'date';
		}else{
			value2.type = 'text';
		}
	}else{
		value2.type = 'hidden';
	}
});

$("#column-select").chosen().change(function(){
	var dateDate = document.getElementById("dateDate");
	var value1 = document.getElementById("value1");
	var value2 = document.getElementById("value2");
	var column = $("#column-select").trigger("liszt:updated").val();
	//条件为通知状态时，显示为通知下拉框
	if(column == 'noticeStatus'){
		$("#value1").addClass('hide');
		$("#noticeDiv").removeClass('hide');
	}else{
		$("#noticeDiv").addClass('hide');
		value1.type = 'text';
	}
	//条件为处理状态时，显示为处理下拉框
	if(column == 'dealStatus'){
		$("#value1").addClass('hide');
		$("#dealDiv").removeClass('hide');
	}else{
		$("#dealDiv").addClass('hide');
		value1.type = 'text';
	}
	//条件为时间时，点击触发时间控件
	if(column == 'dataDate'){
		if($("#operator-select").trigger("liszt:updated").val() == 'between'){
			$("#value1").removeClass('hide');
	    	value1.type = 'date';
	    	value2.type = 'date';
		}else{
			$("#value1").removeClass('hide');
			value1.type = 'date';
		}
	}
	//非上述三种状态时，正常显示
	if(column != 'dataDate' && column != 'noticeStatus' && column != 'dealStatus'){
		if($("#operator-select").trigger("liszt:updated").val() == 'between'){
			$("#value1").removeClass('hide');
			value1.type = 'text';
			value2.type = 'text';
		}else{
			$("#value1").removeClass('hide');
			value1.type = 'text';
			value2.type = 'hidden';
		}
	}
});
  
    function cardFormatter(value,row,index){
        return ' <a  href="javascript:void(0);"'+
                ' data-mode="page" data-title="'+row.cname+'    详细"'+
                ' data-url="./view/query/360/result-index.html" '+
                ' data-width="80%" data-height="100%" '+
                ' data-data="{id:'+row.id+'}" >'+
                value +
                '</a>';

    }

	$(function(){
		$("#noticeDiv").addClass('hide');
		$("#value1").addClass('hide');
	})	
	
		
    function query(){
    	var params = jQuery("#search-form1").serialize(); 
		params = decodeURIComponent(params,true);
		params = encodeURI(encodeURI(params));
    	$('#table-detail_info').bootstrapTable("refresh",{url:"${ctxPath}/data/queryContents?"+params+"&modelId=${modelId!}&organId=${organId!}&custNo=${custNo!}&dealStatus=${dealStatus!}"})
    }
   
    function downloadDetails(formid, action) {
    	var table = $("#" + formid);
    	var rows = table.bootstrapTable("getAllSelections");
    	if (rows.length <= 0) {
    		layer.msg('<span class="red bigger-120">请选择数据</span>');
    		return;
    	} else {
    		var ids = [];
    		for (var i = 0; i < rows.length; i++) {
    			ids.push(rows[i].dataid);
    		}
    	}
    	var $tempForm = $("<form style='display:none;'></form>");
    	var $input = $("<input name=dataId value='" + ids+ "'/>");
    	$tempForm.append($input);
    	$("body").append($tempForm);
    	$tempForm.attr("action", action);
    	$tempForm.attr("method", "post");
    	$tempForm.submit();
    	$tempForm.remove();
    }

    function status(value,row,index){
		if(row.dealstatus == '已处理'){
			return ' <a  href="javascript:void(0);"'+
					' data-mode="detail" data-title="处理信息详细"'+
					' data-url="${ctxPath}/data/dealDetails/showlayer" '+
					'data-width="50%"'+
					'data-data="{id:'+row.dataid+'}" >'+
					value +
					'</a>';
		}else{
			return value;
		}
	}
    
    /* 
    
    $("#operator-select").chosen().change(function(){
    	var value1 = document.getElementById("value1");
    	var value2 = document.getElementById("value2");
    	if($("#operator-select").trigger("liszt:updated").val() == 'between'){
    		if($("#column-select").trigger("liszt:updated").val() == 'dataDate'){
    			value1.onclick=WdatePicker;
    			value2.onclick=WdatePicker;
    			value2.type = 'text';
    		}else{
    			value2.type = 'text';
    			value1.removeEventListener("click", handler, false);
    			value2.removeEventListener("click", handler, false);
    		}
    	}else{
    		value2.type = 'hidden';
    	}
    });
 
    
    $("#column-select").chosen().change(function(){
    	var dateDate = document.getElementById("dateDate");
    	var value1 = document.getElementById("value1");
    	var value2 = document.getElementById("value2");
    	if($("#column-select").trigger("liszt:updated").val() == 'dataDate'){
    		if($("#operator-select").trigger("liszt:updated").val() == 'between'){
		    	//value1.type = 'date';
		    	//value2.type = 'date';
		    	value2.type = 'text';
		    	value1.onclick=WdatePicker;
		    	value2.onclick=WdatePicker;
    		}else{
    			value1.onclick=WdatePicker;
    			value2.type = 'hidden';
    		}
    	}else{
    		if($("#operator-select").trigger("liszt:updated").val() == 'between'){
	    		value1.onclick="";
	    		value2.onclick="";
	    		value2.type = 'text';
    		}else{
	    		value1.removeEventListener("click", handler, false);
	    		value2.removeEventListener("click", handler, false);
	    		value2.type = 'hidden';
    		}
    	}
    });
    */  
</script>
