<div class="layer">
	<form name="FormPost" id="flow-type-save" class="FormGrid"  method="post" 
	    action="${ctxPath}/flow/type/save">
		<input type="hidden" value="${type.id!}" name="id"/>
		<input type="hidden" value="${type.parentIds!}" name="parentIds"/>
		<table class="EditTable" width="100%">
			<tbody>
				<tr style="display: none;">
					<td class="ui-state-error" id="FormError"></td>
				</tr>
				<tr class="FormData">
					<td class="CaptionTD">上一级分类</td>
					<td class="DataTD width-100" id="parentDicBox">
						<#treeselect url="flow/type/tree" modelNameValue="${pType.name!}" 
							modelIdValue="${pType.id!0}" selectIds="${pType.id!}"
							curId="${type.id!}" />
					</td>
				</tr>
				<tr class="FormData">
					<td class="CaptionTD">名称</td>
					<td class="DataTD width-100"><input type="text"
						name="name" datatype="*"   nullmsg="请输入名称！" value="${type.name!}"></td>
				</tr>
				<tr class="FormData">
					<td class="CaptionTD">序号</td>
					<td class="DataTD width-100">
						<input type="text" value="${type.sort!}" datatype="n1-10" ignore="ignore" name="sort"/>
					</td>
				</tr>
				<tr class="FormData">
					<td class="CaptionTD">描述</td>
					<td class="DataTD">
						<textarea name="description" class="autosize-transition form-control "
						style="resize: none;">${type.description!}</textarea>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</div>
<#save formId="flow-type-save" />

<script type="text/javascript">
//描述框自动扩张高度
$('textarea[class*=autosize]').autosize({append: "\n"});
</script>