.geEditor {
	font-family:Arial Unicode MS,Arial,Helvetica;
	font-size:10pt;
	border:none;
	margin:0px;
}
.geBackgroundPage {
	-webkit-box-shadow:0px 0px 3px 0px #d9d9d9;
	-moz-box-shadow:0px 0px 3px 0px #d9d9d9;
	box-shadow:0px 0px 3px 0px #d9d9d9;
}
.geSidebarContainer a, .geMenubar a, .geToolbar a {
	color:black;
	text-decoration:none;
}
.geMenubarContainer, .geToolbarContainer, .geDiagramContainer, .geOutlineContainer, .geSidebarContainer, .geFooterContainer, .geHsplit, .geVsplit {
	overflow:hidden;
	position:absolute;
}
.geDiagramContainer, .geOutlineContainer {
	background-color:#ffffff;
	outline:none;
}
.geMenubar, .geToolbar {
	white-space:nowrap;
	display:block;
	width:100%;
}
.geMenubar .geItem, .geToolbar .geButton, .geToolbar .geLabel, .geSidebar, .geSidebarContainer .geTitle, .geSidebar .geItem, .mxPopupMenuItem {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
.geMenubarContainer {
	background-color:#ffffff;
}
.geMenubar {
	padding:2px;
}
.geMenubar .geItem {
	float:left;
	padding:4px 12px 5px 6px;
	cursor:default;
}
.geMenubar .geItem:hover {
	background:#eeeeee;
}
.geMenubar a.geStatus {
	color:gray;
	padding-left:18px;
	position:absolute;
	top:2px;
}
.geMenubar a.geStatus:hover {
	background:transparent;
}
.geMenubarMenu {
	border:1px solid #d5d5d5 !important;
}
.geToolbarContainer {
	background:whiteSmoke;
	border-bottom:1px solid #e0e0e0;
}
.geToolbar {
	padding:2px 0px 0px 6px;
	border-top:1px solid #e0e0e0;
}
.geToolbar .geSeparator {
	float:left;
	width:1px;
	height:30px;
	background:#e5e5e5;
	margin-left:6px;
	margin-right:6px;
}
.geToolbar .geButton {
	float:left;
	width:20px;
	height:20px;
	padding:0px 2px 0px 2px;
	margin:2px;
	padding-bottom:4px;
	border:1px solid transparent;
	cursor:pointer;
	opacity:0.5;
	_filter:alpha(opacity=50);
}
.geToolbar .geButton:hover {
	border:1px solid gray;
	border-radius:2px;
	opacity:1;
	_filter:none !important;
}
.geToolbar .geButton:active {
	border:1px solid black;
}
.geToolbar .geLabel {
	float:left;
	padding:5px;
	padding-top:1px;
	margin:2px;
	margin-top:2px;
	border:1px solid transparent;
	cursor:pointer;
	opacity:0.5;
	_filter:alpha(opacity=50);
}
.geToolbar .geLabel:hover {
	border:1px solid gray;
	border-radius:2px;
	opacity:0.9;
	_filter:alpha(opacity=90) !important;
}
.geToolbar .geLabel:active {
	border:1px solid black;
	opacity:1;
	_filter:none !important;
}
.geToolbar .geDisabled {
	cursor:default !important;
	opacity:0.2 !important;
	_filter:alpha(opacity=20) !important;
}
.geToolbar .geDisabled:hover {
	border:1px solid transparent !important;
	opacity:0.2 !important;
	_filter:alpha(opacity=20) !important;
}
.geToolbarMenu {
	border:3px solid #e0e0e0 !important;
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
	box-shadow:none !important;
	_filter:none !important;
}
.geSidebarContainer {
	overflow:hidden;
	position:absolute;
	border-top:1px solid #e5e5e5;
	background:whiteSmoke;
	overflow:auto;
}
.geSidebar {
	border-bottom:1px solid #e5e5e5;
	padding-top:2px;
	padding-bottom:6px;
	padding-left:1px;
	padding-right:0px;
	overflow:hidden;
}
.geSidebarContainer .geTitle {
	display:block;
	font-size:8pt;
	border-bottom:1px solid #e5e5e5;
	font-weight:normal;
	padding:6px 0px 6px 6px;
	margin:0px;
	cursor:pointer;
	background:#eeeeee;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	line-height:1.4em;
}
.geSidebarContainer .geTitle:hover {
	background:#e5e5e5;
}
.geSidebar .geItem {
	display:inline-block;
	background-repeat:no-repeat;
	background-position:50% 50%;
	border:1px solid transparent;
	border-radius:2px;
}
.geSidebar .geItem:hover {
	border:1px solid gray !important;
}
.geItem {
	vertical-align: top;
}
.geSidebarTooltip {
	position:absolute;
	background:white;
	overflow:hidden;
	border:1px solid gray;
	border-radius:8px;
	-webkit-box-shadow:0px 0px 2px 2px #d5d5d5;
	-moz-box-shadow:0px 0px 2px 2px #d5d5d5;
	box-shadow:0px 0px 2px 2px #d5d5d5;
	_filter:progid:DXImageTransform.Microsoft.DropShadow(OffX=2, OffY=2, Color='#d5d5d5', Positive='true');
}
.geFooterContainer {
	background:#e5e5e5;
}
.geFooter {
	border-top:1px solid #c0c0c0;
}
.geHsplit {
	cursor:col-resize;
	background-color:#e5e5e5;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAHBAMAAADdS/HjAAAAGFBMVEUzMzP///9tbW1QUFCKiopBQUF8fHxfX1/IXlmXAAAAHUlEQVQImWMQEGAQFWUQFmYQF2cQEmIQE2MQEQEACy4BF67hpEwAAAAASUVORK5CYII=);
	_background-image:url('thumb_vertical.png');
	background-repeat:no-repeat;
	background-position:center center;
}
.geVsplit {
	font-size:1pt;
	cursor:row-resize;
	background-color:#e5e5e5;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAEBAMAAACw6DhOAAAAGFBMVEUzMzP///9tbW1QUFCKiopBQUF8fHxfX1/IXlmXAAAAFElEQVQImWNgNVdzYBAUFBRggLMAEzYBy29kEPgAAAAASUVORK5CYII=);
	_background-image:url('thumb_horz.png');
	background-repeat:no-repeat;
	background-position:center center;
}
.geHsplit:hover, .geVsplit:hover {
	background-color:#d5d5d5;
}
.geDialog {
	position:absolute;
	background:white;
	padding:20px;
	border:10px solid whiteSmoke;
	border-radius:8px;
	-webkit-box-shadow:0px 0px 2px 2px #d5d5d5;
	-moz-box-shadow:0px 0px 2px 2px #d5d5d5;
	box-shadow:0px 0px 2px 2px #d5d5d5;
	_filter:progid:DXImageTransform.Microsoft.DropShadow(OffX=2, OffY=2, Color='#d5d5d5', Positive='true');
}
.geDialogClose {
	position:absolute;
	width:9px;
	height:9px;
	opacity:0.5;
	cursor:pointer;
	_filter:alpha(opacity=50);
}
.geDialogClose:hover {
	opacity:1;
}
.geSprite {

	background:url('sprites.png') no-repeat top left;
	width:21px;
	height:21px;
}
.geSprite-actualsize { background-position: 0 0; }
.geSprite-bold { background-position: 0 -46px; }
.geSprite-bottom { background-position: 0 -92px; }
.geSprite-center { background-position: 0 -138px; }
.geSprite-delete { background-position: 0 -184px; }
.geSprite-fillcolor { background-position: 0 -230px; }
.geSprite-fit { background-position: 0 -276px; }
.geSprite-fontcolor { background-position: 0 -322px; }
.geSprite-gradientcolor { background-position: 0 -368px; }
.geSprite-image { background-position: 0 -414px; }
.geSprite-italic { background-position: 0 -460px; }
.geSprite-left { background-position: 0 -506px; }
.geSprite-middle { background-position: 0 -552px; }
.geSprite-print { background-position: 0 -598px; }
.geSprite-redo { background-position: 0 -644px; }
.geSprite-right { background-position: 0 -690px; }
.geSprite-shadow { background-position: 0 -736px; }
.geSprite-strokecolor { background-position: 0 -782px; }
.geSprite-top { background-position: 0 -828px; }
.geSprite-underline { background-position: 0 -874px; }
.geSprite-undo { background-position: 0 -920px; }
.geSprite-zoomin { background-position: 0 -966px; }
.geSprite-zoomout { background-position: 0 -1012px; }
.geSprite-helbow { background-position: 0 -1058px; }
.geSprite-velbow { background-position: 0 -1104px; }
.geSprite-straight { background-position: 0 -1150px; }
.geSprite-entity { background-position: 0 -1196px; }
.geSprite-segment { background-position: 0 -1242px; }
.geSprite-orthogonal { background-position: 0 -1288px; }
.geSprite-noarrow { background-position: 0 -1334px; }
.geSprite-endclassic { background-position: 0 -1380px; }
.geSprite-endopen { background-position: 0 -1426px; }
.geSprite-endblock { background-position: 0 -1472px; }
.geSprite-endoval { background-position: 0 -1518px; }
.geSprite-enddiamond { background-position: 0 -1564px; }
.geSprite-endthindiamond { background-position: 0 -1610px; }
.geSprite-endclassictrans { background-position: 0 -1656px; }
.geSprite-endblocktrans { background-position: 0 -1702px; }
.geSprite-endovaltrans { background-position: 0 -1748px; }
.geSprite-enddiamondtrans { background-position: 0 -1794px; }
.geSprite-endthindiamondtrans { background-position: 0 -1840px; }
.geSprite-startclassic { background-position: 0 -1886px; }
.geSprite-startopen { background-position: 0 -1932px; }
.geSprite-startblock { background-position: 0 -1978px; }
.geSprite-startoval { background-position: 0 -2024px; }
.geSprite-startdiamond { background-position: 0 -2070px; }
.geSprite-startthindiamond { background-position: 0 -2116px; }
.geSprite-startclassictrans { background-position: 0 -2162px; }
.geSprite-startblocktrans { background-position: 0 -2208px; }
.geSprite-startovaltrans { background-position: 0 -2254px; }
.geSprite-startdiamondtrans { background-position: 0 -2300px; }
.geSprite-startthindiamondtrans { background-position: 0 -2346px; }
.geSprite-open { background-position: 0 -2392px; }
.geSprite-export { background-position: 0 -2438px; }
.geSprite-flowadjust { background-position: 0 -2490px; }

html div.mxRubberband {
	border-color:#0000DD;
	background:#99ccff;
}
td.mxPopupMenuIcon div {
	width:16px;
	height:16px;
}
html td.mxPopupMenuItem {
	font-size:9pt;
	padding:6px;
}
html div.mxPopupMenu {
	-webkit-box-shadow:2px 2px 3px #d5d5d5;
	-moz-box-shadow:2px 2px 3px #d5d5d5;
	box-shadow:2px 2px 3px #d5d5d5;
	_filter:progid:DXImageTransform.Microsoft.DropShadow(OffX=2, OffY=2, Color='#d0d0d0', Positive='true');
	background:white;
	position:absolute;
	border:3px solid #e7e7e7;
	padding:3px;
}
html table.mxPopupMenu {
	border-collapse:collapse;
	margin:0px;
}
html tr.mxPopupMenuItem {
	color:black;
	cursor:default;
}
html td.mxPopupMenuItem {
	padding:6px 30px 6px 30px;
	font-family:Arial;
	font-size:10pt;
}
html td.mxPopupMenuIcon {
	background-color:white;
	padding:0px;
}
td.mxPopupMenuIcon .geIcon {
	padding:2px;
	padding-bottom:4px;
	margin:2px;
	border:1px solid transparent;
	opacity:0.5;
	_width:26px;
	_height:26px;
}
td.mxPopupMenuIcon .geIcon:hover {
	border:1px solid gray;
	border-radius:2px;
	opacity:1;
}
html tr.mxPopupMenuItemHover {
	background-color: #eeeeee;
	color: black;
}
table.mxPopupMenu hr {
	color:#cccccc;
	background-color:#cccccc;
	border:none;
	height:1px;
}
table.mxPopupMenu tr {
	font-size:4pt;
}
