
<div class="widget-box widget-color-green2">
	<div class="widget-header clearfix">
		<h5 class="widget-title">模型专题分类管理</h5>
		<div class="widget-toolbar">
			<a href="#" data-action="fullscreen" class="orange2"> <i
				class="ace-icon fa fa-expand"></i>
			</a>
		</div>
		<div class="widget-toolbar no-border width-40" style="padding-top: 2px;">
			<form method="post" class="form-search" id="search-form" target="list-page"
				action="dic-list.html">
				<div class="input-group" style="line-height: 0px;">
					<span class="input-group-btn">
						<span  class=" btn  btn-success btn-sm"
							id="search-all-btn">
							 显示全部 
						</span> 
					</span>
					<input type="text" class="form-control search-query"
						name="name" placeholder="专题分类名称" id="search-input">
						<span class="input-group-btn">
						<span class="btn  btn-success btn-sm"
							id="search-btn">
							搜索 <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
						</span>
					</span>
				</div>
				<input type="hidden" name="id" />
				<input type="hidden" name="sortColumn" value="sort" />
				<input type="hidden" name="sortWay" value="asc"/>
			</form>
		</div>
	</div>

	<div class="widget-body">
		<div class="widget-main padding-8">
			<div class="row">
				<div class="col-sm-3">
					<div>
						<ul id="treeMenu" class="ztree"></ul>
					</div>
				</div>
				<div class="col-sm-9" id="list-page">
					<table id="table"  data-height="500"   data-pagination="true"
						   data-search="false" data-page-list="[10, 20, 50, 100, 200]"   data-smart-display="true">
						<thead>
						<tr>
							<th data-field="id" data-align="center" data-sortable="true" data-width="50">编号</th>
							<th data-field="name" data-sortable="true">名称</th>
							<th data-field="propertyName" data-sortable="true">业务属性</th>
							<th data-field="line" data-sortable="true" >所属条线</th>
							<th data-field="index" data-sortable="true" >序号</th>
							<th data-field="id" data-align="center" data-sortable="false" data-width="125"  data-formatter="operatorBtn">操作</th>
						</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>


	<div id="rowBtn_edit" style="display: none;">
		<div class="hidden-sm hidden-xs action-buttons">
			<a class="green" href="javascript:void(0);"
			   data-mode="page" data-title="编辑"
			   data-url="view/mconfig/ptype/save.html"
			   data-width="50%"
			   data-data="{id:'{row.id}'}"
					>
				<i class="ace-icon fa fa-pencil bigger-130"></i>编辑
			</a>

			<a class="red" href="javascript:void(0);"
			   data-mode="del" data-title="删除操作"
			   data-msg="你确定删除此数据吗?"
			   data-url="delete"
			   data-data="{id:'{row.id}'}"
					>
				<i class="ace-icon fa fa-trash-o bigger-130"></i>删除
			</a>
		</div>
	</div>

</div>

<script style="text/javascript">

	$(function(){

		var tableData = [];
		$.ajax({
			url: "./data/model_top_type.json",
			dataType: "json",
			async: false,
			success: function(data) {
				$.each(data,function(i,obj){

					if(obj.type == "type"){
						tableData.push(obj);
					}
				})
				var $table = $('#table');
				$table.bootstrapTable({
					iconSize:'sm',
					data:tableData
				});
			}
		});

		$.ajax({
			url: "./data/model_top_type.json",
			dataType: "json",
			async: false,
			success: function(data) {
				$.fn.krmZtree({
					editUrl:'view/mconfig/ptype/save.html',
					delUrl:'view/mconfig/ptype/save.html',
					addUrl:'view/mconfig/ptype/save.html',
					rootNodeName:"专题分类列表",
					addDialogTitle:'添加专题分类',
					treeData:data,
					reloadUrl:true,
					idKey:'id',
					pIdKey:'pid',
					nameKey:'name'
				})
			}
		});



	})
	
</script>

