<?xml version="1.0" encoding="UTF-8" ?>  
		<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		<mapper namespace="com.krm.dbaudit.web.model.mapper.AuditTypeMapper">

	<sql id="auditTypeColumns">
		id,name,sort,parent_Id,description,create_by,create_date,update_by,update_date,DEL_FLAG
	</sql>

	<sql id="aliasAuditTypeColumns">
		b.id,b.name,b.sort,b.parent_Id,b.description,b.create_by,b.create_date,b.update_by,b.update_date,b.DEL_FLAG
	</sql>
	
	<!-- 根据节点Id删除底下全部子节点包括孙子节点 -->
	<update id="deleteAuditTypeByRootId">
		delete from audit_type  where id in (select id from audit_type start with id = #{id} connect by PRIOR id = parent_id)
	</update>
	
	<!-- 根据专题类型删除关联模型 -->
	<update id="deleteAuditModelByType">
		delete from audit_model  where type =#{type}
	</update>
	
	<select id="findById" resultType="com.krm.dbaudit.web.model.model.AuditType">
		select  <include refid="aliasAuditTypeColumns" /> ,b2.name as parentName
		    from audit_type  b 
	       left join audit_type b2 on b2.id = b.parent_id
	    <where>
	    	b.id = #{id}
	    </where>   
	</select>
	

	<select id="findPageInfo" resultType="com.krm.dbaudit.web.model.model.AuditType">
		select  <include refid="aliasAuditTypeColumns" /> ,b2.name as parentName,c.cn
			from audit_type  b 
			left join audit_type b2 on b2.id = b.parent_id
			left join (select type,count(*) cn from audit_model  group by type) c on c.type = b.id
		<where>
			b.del_flag = 0
			 <if test="@Ognl@isNotBlank(name)">
			    and b.name like '%' || #{name} ||'%' 
			 </if>
			 <if test="@Ognl@isNotBlank(sort)">
			    and b.sort =  #{sort}
			 </if>
			 <if test="@Ognl@isNotBlank(parentId)">
			    and b.parent_Id =  #{parentId}
			 </if>
			 <if test="@Ognl@isNotBlank(description)">
			    and b.description like '%' || #{description} ||'%' 
			 </if>
		</where>
		<if test="id != 0 and @Ognl@isBlank(name) and @Ognl@isNotBlank(id) "> 
			START WITH b.id=#{id} CONNECT BY PRIOR b.ID = b.parent_id
		</if>
		<if test="@Ognl@isNotBlank(sortC) and @Ognl@isNotBlank(order)"> 
			ORDER BY b.${sortC}   ${order}
		</if>
	</select>
	
	
	<insert id="batchInsert" parameterType="java.util.List">
	    insert into AUDIT_MODEL(ID, TYPE, MODEL, CREATE_BY, CREATE_DATE, UPDATE_BY, UPDATE_DATE, SORT, DEL_FLAG)
	    select AUDIT_MODEL_SEQ.nextval,A.* from (
	    <foreach collection="list" item="item" index="index"  separator="union all">
	        select 
	        #{item.type,jdbcType=INTEGER},#{item.model,jdbcType=INTEGER},
	        #{item.create_by,jdbcType=VARCHAR},#{item.create_date,jdbcType=DATE},
	        #{item.update_by,jdbcType=VARCHAR},#{item.update_date,jdbcType=DATE},
	        #{item.sort,jdbcType=INTEGER},#{item.del_flag,jdbcType=VARCHAR} 
	         from dual
	    </foreach>
	    ) A
	</insert>
	
	
</mapper>