
	<div class="col-xs-12">

		<div class="widget-main ">
			<button class="btn btn-app btn-purple  no-radius"
				onclick="changeImg('cust360/main/query')">
				<i class="ace-icon fa fa-home bigger-160"></i> 首页
			</button>
			<button class="btn btn-app btn-primary no-radius"
				onclick="changeImg('cust360/main/bigCust2')">
				<i class="ace-icon fa fa-info bigger-160"></i> 客户信息
			</button>
			<button class="btn btn-app btn-primary no-radius"
				onclick="changeImg('cust360/main/custRelPersonInfo')">
				<i class="ace-icon fa fa-user bigger-160"></i> 联系人信息
			</button>
			<button class="btn btn-app btn-primary no-radius"
				onclick="changeImg('cust360/main/otherCustRelInfo')">
				<i class="ace-icon fa fa-phone bigger-160"></i> 其他联系信息
			</button>
			<button class="btn btn-app btn-yellow no-radius"
				onclick="changeImg('cust360/main/dspAccnoInfo')">
				<i class="ace-icon fa fa-money bigger-160"></i> 存款账户
			</button>
			<button class="btn btn-app btn-yellow   no-radius"
				onclick="changeImg('cust360/main/loanAccnoInfo')">
				<i class="ace-icon fa fa-user-md bigger-160"></i> 贷款账户
			</button>
			<button class="btn btn-app btn-primary no-radius"
				onclick="changeImg('cust360/main/custSure')">
				<i class="ace-icon fa fa-openid bigger-160"></i> 担保信息
			</button>
			<button class="btn btn-app btn-primary no-radius"
				onclick="changeImg('cust360/main/custrel')">
				<i class="ace-icon fa fa-share  bigger-160"></i> 关联关系
			</button>
		
		</div>

	</div>

