<div class="layer">
<h3 class="header smaller red">通过选择业务条线或分类，然后列出模型后进行分配</h3>
		<div class="col-xs-6 col-sm-4 pricing-box">
			<div class="widget-box widget-color-orange">
				<div class="widget-header">
					<h5 class="widget-title bigger lighter">模型分类列表</h5>
				</div>

				<div class="widget-body">
					<div class="widget-main">
						<ul class="ztree" id="treeOffice"></ul>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-sm-4 pricing-box">
			<div class="widget-box widget-color-blue">
				<div class="widget-header">
					<h5 class="widget-title bigger lighter">备选模型</h5>
					<div class="widget-toolbar no-border width-70" style="padding-top: 2px;">
						<form method="post" class="form-search" id="search-form" target="list-page"
							  action="dic-list.html">
							<div class="input-group" style="line-height: 0px;">
								<input type="text" class="form-control search-query"
									   name="name" placeholder="关键词" id="search-input1">
								<span class="input-group-btn">
									<span class="btn  btn-success btn-xs "  id="search-btn1">
										 <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
									</span>
								</span>
							</div>
						</form>
					</div>
				</div>

				<div class="widget-body">
					<div class="widget-main" id="dxuser">
						
					</div>
					<div class="hide" id="addUserBtn">
						<a href="javascript:void(0);" class="btn btn-block btn-primary">
							<i class="ace-icon fa fa-plus bigger-110"></i>
							<span>添加所选模型</span>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-6 col-sm-4 pricing-box">
			<div class="widget-box widget-color-green">
				<div class="widget-header">
					<h5 class="widget-title bigger lighter">已选模型</h5>
				</div>

				<div class="widget-body">
				<form action="${ctxPath!}/role/saveuser" method="post" id="role-user-form">
					<div class="widget-main" id="yxuser">
					</div>
				</form>
					<div class="hide" id="removeUserBtn">
						<a href="javascript:void(0);" class="btn btn-block btn-success">
							<i class="ace-icon fa fa-trash bigger-110"></i>
							<span>移除模型</span>
						</a>
					</div>
				</div>
			</div>
		</div>
</div>

<div class="width-100 clearfix" tag-save-btn style="bottom: 0px;left: 0px;position:absolute;">
	<span class="btn btn-primary btn-sm bigger-110 width-50  pull-left"  id="save_user_btn">
		<i class="ace-icon fa fa-floppy-o align-top bigger-125"></i> 确认分配
	</span>
	<span class="btn btn-yellow btn-sm bigger-110 width-50 pull-right" id="save_user_cancel">
		<i class="ace-icon fa fa-times align-top  bigger-125"></i> 取 消
	</span>
</div>

<script type="text/javascript">
	var officeTree;
	var key =null;
$(function(){

	var key = $("#search-input1");
	$("#search-btn1").click(function(e){

	})

	var setting = {
		view:{
			selectedMulti : false
		},
		data : {
			simpleData : {
				enable : true,
				idKey : "id",
				pIdKey : "parentId"
			}
		},
		callback: {
			onClick: onClickNode
		}
	};
	//初始化树
	//$.ajax({
	//	url: "./data/model_top_type.json",
	//	dataType: "json",
	//	async: false,
	//	success: function(data) {
	//		officeTree = $.fn.zTree.init($("#treeOffice"), setting,data);
	//	}
	//});
	//树结构初始化
	nodeList=[]; //清除缓存
	var treeData = ${treeList};
		
	var root = {id:0,name:"模型专题分类列表",open:true};
	treeData[treeData.length] = root;
	//treeData.push(root);
		
	$.fn.zTree.init($("#treeOffice"), setting,treeData);
	officeTree = $.fn.zTree.getZTreeObj("treeOffice");
	// 默认展开一级节点
	//var nodes = officeTree.getNodesByParam("level", 0);
	//for(var i=0; i<nodes.length; i++) {
	//	officeTree.expandNode(nodes[i], true, false, false);
	//}



	var yxuser = [12,2,2]; //初始化已选列表
	var yxList = {},dxList = {};
	for(var i in yxuser){
		yxList[yxuser[i].id] = yxuser[i].name;
	}
	function onClickNode(event, treeId, treeNode) {
		$.ajax({
			url: "./data/model.json",
			dataType: "json",
			async: false,
			success: function(data) {
				$("#dxuser").empty();
				if(treeNode.type == "p"){
					dxList = {};
					for(var i=0;i<data.length;i++){
						if( treeNode.name == data[i].property ){
							dxList[data[i].id] = data[i].name;
							var isyx = "",isyxText = "";
							if(yxList[data[i].id] != undefined){
								isyx = "disabled checked";
								isyxText = "<span class='badge badge-pink'> 已 选 </span>";
							}
							var str = '<div class="checkbox"><label><input '+isyx+' class="ace ace-checkbox-2" value="'+data[i].id
									+'" type="checkbox" data-mode="add" name="'+data[i].name+'">'+
									'<span class="lbl"> '+data[i].name+'</span>'+isyxText+'</label></div>';
							$("#dxuser").append(str);
						}
					}
				}else if(treeNode.type == "l"){
					dxList = {};
					for(var i=0;i<data.length;i++){
						if( treeNode.getParentNode().name == data[i].property  && data[i].bizLine == treeNode.name){
							dxList[data[i].id] = data[i].name;
							var isyx = "",isyxText = "";
							if(yxList[data[i].id] != undefined){
								isyx = "disabled checked";
								isyxText = "<span class='badge badge-pink'> 已 选 </span>";
							}
							var str = '<div class="checkbox"><label><input '+isyx+' class="ace ace-checkbox-2" value="'+data[i].id
									+'" type="checkbox" data-mode="add" name="'+data[i].name+'">'+
									'<span class="lbl"> '+data[i].name+'</span>'+isyxText+'</label></div>';
							$("#dxuser").append(str);
						}
					}
				}else if(treeNode.type == "type"){
					dxList = {};
					for(var i=0;i<data.length;i++){
						if(data[i].topic == treeNode.name){
							dxList[data[i].id] = data[i].name;
							var isyx = "",isyxText = "";
							if(yxList[data[i].id] != undefined){
								isyx = "disabled checked";
								isyxText = "<span class='badge badge-pink'> 已 选 </span>";
							}
							var str = '<div class="checkbox"><label><input '+isyx+' class="ace ace-checkbox-2" value="'+data[i].id
									+'" type="checkbox" data-mode="add" name="'+data[i].name+'">'+
									'<span class="lbl"> '+data[i].name+'</span>'+isyxText+'</label></div>';
							$("#dxuser").append(str);
						}
					}
				}
				$("#addUserBtn").addClass('hide');
			}
		});
	}
	
	var nodes = officeTree.getNodesByParam("level", 0);
	for(var i=0; i<nodes.length; i++) {
		officeTree.expandNode(nodes[i], true, false, false);
	}
	
	$(document).on('click','.layer input[type=checkbox]',function(){
		var mode = $(this).data("mode");
		if(mode == "add"){
			var ck = $("#dxuser").find("input[type='checkbox']").is(":checked");
			if(ck){
				$("#addUserBtn").removeClass('hide');
			}else{
				$("#addUserBtn").addClass('hide');
			}
		}else if(mode == undefined){
			var ck = $("#yxuser").find("input[type='checkbox']").is(":checked");
			if(ck){
				$("#removeUserBtn").removeClass('hide');
			}else{
				$("#removeUserBtn").addClass('hide');
			}
		}
	});
	
	//添加模型
	$("#addUserBtn").click(function(){
		var ck = $("#dxuser").find("input[type='checkbox']:checked").not("[disabled]");
		ck.each(function(i,val){
			ck.eq(i).attr("disabled","disabled");
			ck.eq(i).parent().append("<span class='badge badge-pink'> 已 选 </span>");
			yxList[val.value] = val.name;
			var str = '<div class="checkbox"><label><input name="userIds" class="ace ace-checkbox-2" value="'+val.value
			+'" type="checkbox"><span class="lbl"> '+val.name+'</span></label></div>';
			$("#yxuser").append(str);
		})
	});
	
	//移除模型
	$("#removeUserBtn").click(function(){
		var ck = $("#yxuser").find("input[type='checkbox']:checked");
		ck.closest('.checkbox').remove();
		ck.each(function(i,val){
			delete yxList[val.value];
			var dx = $("#dxuser").find("input[value='"+val.value+"']");
			dx.removeAttr("disabled").prop("checked",false).siblings(".badge").remove();
		})
		var len = $("#yxuser").children().length;
		if(len == 0) $("#removeUserBtn").addClass('hide');
	});


	var roleUserForm = $("#role-user-form").Validform({
		ajaxPost : true,
		beforeSubmit:function(curform){
			var loadi = layer.load(5,2);
			$("#role-user-form").data('loadi',loadi);
		},
		callback:function(data){
			layer.close($("role-user-form").data('loadi'));
			if(data>0) {
				layer.msg('操作成功', 1, 1,function(){

					location.reload();

					layer.closeAll();
				});
			}else{
				layer.msg('操作失败', 3, 1);
			}
		},
		tiptype : function(msg, o, cssctl) {
			if (!o.obj.is("form")) {
				if (o.type != 2) {
					tip.errorTip(msg,o.obj);
				}
			}
		},
		tipSweep : true
	});

	$("#role-save-btn").click(function() {
		var userIds = [];
		var yx = $("#yxuser").find("input[type=checkbox]");
		yx.each(function(i,val){
			userIds.push(val.value);
		})
		roleUserForm.config({
			ajaxpost:{data:{id:1,userIds:userIds.toString()}}
		});
		validId.submitForm(false);
		return false;
	});
	$("#save_user_cancel").click(function(){
		layer.closeAll();
		return false;
	});


})



</script>