<?xml version="1.0" encoding="UTF-8" ?>  
		<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.krm.dbaudit.web.all360.model.TableModelColumns">
	<sql id="phycols"> PKID, TAB_ID, ALISE_NAME, IS_SHOW, DATA_TYPE, DICID, NAME 
	</sql>
	
	<select id="getPhyTable" resultType="com.krm.dbaudit.web.all360.model.TableModelColumns" parameterType="java.util.Map">
	select 
	<include refid="phycols"/>
	from SYS360_COLUMNS_CONFIG 
	<where>
	1=1 
	<if test="@Ognl@isNotBlank(pkid)">
	and PKID=#{pkid}
	</if>
	</where>
	
	</select>
	
	<select id="findPageInfo" resultType="com.krm.dbaudit.web.all360.model.TableModelColumns" >
		select
		<include refid="phycols" />
		from SYS360_COLUMNS_CONFIG
		<where>
			1=1
			<if test="@Ognl@isNotBlank(pkid)">
				and PKID=#{pkid}
			</if>
			
		</where>
		order by pkid
	</select>
</mapper>