
<div class="widget-box widget-color-green2">
    <div class="widget-header clearfix">
        <h5 class="widget-title">模型运行</h5>
        <div class="widget-toolbar">
            <a href="#" data-action="fullscreen" class="orange2"> <i
                    class="ace-icon fa fa-expand"></i>
            </a>
        </div>
        <div class="widget-toolbar">
			<span class="btn btn-purple btn-xs"
                  onclick="Angel.downloadFile('search-form','${ctxPath}/area/export')">
			<i class="ace-icon fa fa-cloud-download bigger-130"></i>
			导出Excel</span>
        </div>
        <!-- 
        <div class="widget-toolbar no-border">
            <a class="btn btn-purple btn-xs" href="javascript:void(0);"
               data-mode="paramset" data-title=" 验证模型"
               data-url="${ctxPath}/model/valid/deal"
               data-width="50%"
               data-data="{id:'{row.id}'}"
               data-table="table" >
                <i class="ace-icon fa fa-pencil-square bigger-130"></i>
                <span>验证模型</span>
            </a>
        </div>
         -->
    </div>



    <div class="widget-body">
        <div class="widget-main padding-8">
            <div class="row">
                <div class="col-sm-12" id="list-page">
                    <table id="table">
                        <thead>
                        <tr>
                            <th data-field="state" data-checkbox="true"></th>
                            <th data-field="id" data-align="center" data-width="30" data-sortable="true">编号</th>
                            <th data-field="name"   data-sortable="true" data-formatter="modelNameFormatter">模型名称</th>
                            <th data-field="propertyname" data-sort-name="property" data-sortable="true">业务属性</th>
                            <th data-field="buzlinename" data-sort-name="buzLine" data-sortable="true">业务条线</th>
                            <th data-field="subjectname" data-sort-name="subject" data-sortable="true">专题</th>
                            <th data-field="risklevelname" data-sort-name="riskLevel" data-sortable="true" data-cell-style="riskLevelCellStyle">风险级别</th>
                            <th data-field="statusname"  data-sort-name="status" data-align="center" data-sortable="true" data-formatter="modelStatusFormatter">状态</th>
                            <th data-field="id" data-align="center" data-sortable="false" data-width="125"  data-formatter="operatorBtn">操作</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="toolbar">
	<form id="search-form">
    <div class="form-inline" role="form">
        <div class="form-group">
            <span>模型名称</span>
            <input name="name" class="form-control w70" type="text" >
        </div>
        <div class="form-group">
	            <span>业务属性</span>
	            <#select name="property" id="property-chosen" width="130px" class="form-control w70">
					<option value="">全部</option>
					@for(item in ps){
						<option value="${item.id!}">
						${item.name!}
						</option>
					@}
				</#select>
	        </div>
        <div class="form-group">
	            <span>业务条线</span>
            	@var buzLines = dict.getDictListByType("model_buz_line");
				<#select name="buzLine" id="buzline-chosen" width="120px" class="form-control w70">
					<option value="">全部</option>
					@for(item in buzLines){
						<option value="${item.value!}">
						${item.label!}
						</option>
					@}
				</#select>
	        </div>
        <div class="form-group">
	            <span>风险级别</span>
	            @var risks = dict.getDictListByType("model_risk_level");
				<#select name ="riskLevel" id="riskLevel-chosen" width="120px" class="form-control w70">
					<option value="">全部</option>
					@for(item in risks){
						<option value="${item.value!}">
						${item.label!}
						</option>
					@}
				</#select>
	        </div>

        <button id="ok" type="button" onclick="query()" class="btn btn-primary btn-sm">查询</button>
    </div>
    </form>
</div>

<div id="rowBtn_edit" style="display: none;">
    <div class="hidden-sm hidden-xs action-buttons">
    <!--
        <a class="green" href="javascript:void(0);"
           data-mode="page" data-title="投产"
           data-url="${ctxPath}/model/publish/deal"
           data-width="50%"
           data-data="{'ids[]':'{row.id}'}"
                >
            <i class="ace-icon fa fa-pencil-square bigger-130"></i>
        </a>
     -->

        <a class="red" href="javascript:void(0);"
           data-mode="page"
           data-title="运行"
           data-url="${ctxPath}/model/runflow"
           data-width="50%"
           data-data="{id:'{row.id}'}"
                >
            <i class="ace-icon fa fa-play bigger-130"></i>
        </a>
    </div>
</div>


<script>
	$(function(){
		var $table = $('#table');
	    $table.bootstrapTable({
	    	iconSize:'sm',
			pagination:true,
			method:"post",
			toolbar:"#toolbar",
			pageSize:10,
			queryParamsType:'limit',
			striped:true,
			pageNumber:1,
			sidePagination:'server',
			url:'${ctxPath}/model/work/list?'+$("#search-form").serialize()
	    });
	})


    $("#riskLevel-select").chosen({width: "100px",disable_search_threshold:10});
    $("#status-select").chosen({width: "100px",disable_search_threshold:10});
    
    function riskLevelCellStyle(value,row,index){
        if(value == "特别严重"){
            return {css:{background:'#ffb752'}};
        }
        return {};
    }
    
    function modelStatusFormatter(value,row,index){
        if(value == "8"){
            return "<font style='color:red;text-align:center;' size='3' >√</font>";
        }else{
            return value;
        }
    }

    function modelNameFormatter(value,row,index){
        return ' <a  href="javascript:void(0);"'+
                ' data-mode="detail" data-title="'+value+'    详细"'+
                ' data-url="${ctxPath}/model/base/detail/showlayer?id='+row.id+ '"'+
                'data-width="50%"'+
                'data-data="{id:'+row.id+'}" >'+
                value +
                '</a>';

    }
    function query(){
    	$('#table').bootstrapTable("refresh",{url:"${ctxPath}/model/work/list?"+$("#search-form").serialize()})
    }
</script>