<div class="widget-box">
    <div class="widget-header widget-header-flat widget-header-small">
        <h5 class="widget-title">查询条件</h5>
    </div>
    <div class="widget-body">
        <div class="widget-main padding-8">

                <div role="form" class="form-inline">
                    <div class="form-group">
                        <span>客户号</span>
                        <input type="text" value="" class="form-control w100" name="cNo" id="cNo">
                    </div>
                    <div class="form-group">
                        <span>关联次数</span>
                        <input type="text"  class="form-control w70" name="queryCount" id="queryCount">
                    </div>
                    <div class="form-group">
                        <span>证件号</span>
                        <input type="text"  class="form-control w70" name="queryCount" id="queryCount">
                    </div>
                    <div class="form-group">
                        <span>客户名称</span>
                        <input type="text"  class="form-control w70" name="queryCount" id="queryCount">
                    </div>
                    <button class="btn btn-primary btn-sm" type="submit" id="ok">查询</button>
                </div>
        </div>
    </div>
</div>

<br/>
<div class="widget-box" id="y_box1">
    <div class="widget-header widget-header-flat widget-header-small">
        <h5 class="widget-title">查询结果</h5>
    </div>
    <div class="widget-body">
        <div class="widget-main padding-8">
            <div id="picBody" style="height: 500px;"></div>
        </div>
    </div>
</div>


<script>

    // 路径配置
    require.config({
        paths: {
            echarts : './static/echarts-2.1.10/build/dist'
        }
    });

    $("#ok").on("click",function(){

        var zc = {
                width: 2.5,
                color: 'red'
        }
        var sr = {
            width: 2.5,
            color: 'blue'
        }

        var option = {
            title : {
                text: '沈元资金流向图',
                subtext: '',
                x:'center',
                y:'top'
            },
            tooltip : {
                trigger: 'item',
                formatter: '{a} : {b}'
            },
            toolbox: {
                show : true,
                feature : {
                    restore : {show: true},
                    magicType: {show: true, type: ['force', 'chord']},
                    saveAsImage : {show: true}
                }
            },
            series : [
                {
                    type:'force',
                    name : "资金流向",
                    ribbonType: false,
                    itemStyle: {
                        normal: {
                            label: {
                                show: true,
                                textStyle: {
                                    color: '#333'
                                }
                            },
                            nodeStyle : {
                                brushType : 'both',
                                borderColor : 'rgba(255,215,0,0.4)',
                                borderWidth : 1
                            },
                            linkStyle: {
                                type: 'curve',
                                shadowBlur: 10
                            }
                        },
                        emphasis: {
                            label: {
                                show: false
                                // textStyle: null      // 默认使用全局文本样式，详见TEXTSTYLE
                            },
                            nodeStyle : {
                                //r: 30
                            },
                            linkStyle : {}
                        }
                    },
                    useWorker: false,
                    minRadius : 15,
                    maxRadius : 25,
                    gravity: 1.1,
                    scaling: 1.1,
                    linkSymbol: 'arrow',
                    roam: 'move',
                    nodes:[
                        {category:0, name: '沈元', value : 10, label: '沈元\n（主要）'},
                        {category:1, name: '夏玲',value : 2},
                        {category:1, name: '张梦西',value : 3},
                        {category:1, name: '林莉',value : 3},
                        {category:2, name: '张三',value : 3},
                        {category:2, name: '李四',value : 3},
                        {category:2, name: '李龙',value : 3},
                    ],
                    links : [
                        {source : '沈元', target : '夏玲', weight : 1, name: '12',itemStyle:{ normal: zc}},
                        {source : '夏玲', target : '沈元', weight : 2, name: '2',itemStyle:{ normal: sr}},
                        {source : '沈元', target : '张梦西', weight : 1, name: '4',itemStyle:{ normal: sr}},
                        {source : '张梦西', target : '沈元', weight : 1, name: '4',itemStyle:{ normal: zc}},
                        {source : '沈元', target : '林莉', weight : 1, name: '12',itemStyle:{ normal: zc}},
                        {source : '林莉', target : '沈元', weight : 1, name: '12',itemStyle:{ normal: sr}},
                        {source : '林莉', target : '夏玲', weight : 1, name: '12',itemStyle:{ normal: sr}},
                        {source : '夏玲', target : '林莉', weight : 1, name: '12',itemStyle:{ normal: zc}},
                        {source : '林莉', target : '张梦西', weight : 1, name: '12',itemStyle:{ normal: sr}},
                        {source : '张梦西', target : '林莉', weight : 1, name: '12',itemStyle:{ normal: zc}},
                        {source : '林莉', target : '张三', weight : 1, name: '12',itemStyle:{ normal: sr}},
                        {source : '李四', target : '张三', weight : 1, name: '12',itemStyle:{ normal: zc}},
                        {source : '林莉', target : '李龙', weight : 1, name: '12',itemStyle:{ normal: zc}},
                        {source : '李龙', target : '李四', weight : 1, name: '12',itemStyle:{ normal: zc}},
                        {source : '李龙', target : '张三', weight : 1, name: '12',itemStyle:{ normal: sr}},
                    ]
                }
            ]
        };


        require(
                [
                    'echarts',
                    'echarts/chart/force',
                    'echarts/chart/chord'
                ],
                function (ec) {
                    var myChart = ec.init(document.getElementById('picBody'));
                    var ecConfig = require('echarts/config');


                    function focus(param) {
                        var data = param.data;
                        var links = option.series[0].links;
                        var nodes = option.series[0].nodes;
                        if (
                                data.source !== undefined
                                && data.target !== undefined
                        ) { //点击的是边
                            var sourceNode = nodes.filter(function (n) {return n.name == data.source})[0];
                            var targetNode = nodes.filter(function (n) {return n.name == data.target})[0];
                            console.log("选中了边 " + sourceNode.name + ' -> ' + targetNode.name + ' (' + data.weight + ')');
                        } else { // 点击的是点
                            console.log("选中了" + data.name + '(' + data.value + ')');
                            alert("您点中了"+data.value);
                        }
                    }
                    myChart.on(ecConfig.EVENT.CLICK, focus)

                    myChart.on(ecConfig.EVENT.FORCE_LAYOUT_END, function () {
                        console.log(myChart.chart.force.getPosition());
                    });

                    myChart.setOption(option,true);
                }
        );
    });
</script>